[submodule "Frameworks/IRWebAPIKit"]
	path = Frameworks/IRWebAPIKit
	url = git://github.com/iridia/IRWebAPIKit.git
[submodule "Frameworks/IRBlockEnumeration"]
	path = Frameworks/IRBlockEnumeration
	url = git://github.com/iridia/IRBlockEnumeration.git
[submodule "Frameworks/IRDelegation"]
	path = Frameworks/IRDelegation
	url = git://github.com/iridia/IRDelegation.git
[submodule "Frameworks/CPObject-DelayedPerforming"]
	path = Frameworks/CPObject-DelayedPerforming
	url = git://github.com/monoceroi/CPObject-DelayedPerforming.git
[submodule "Frameworks/IRInterfaceKit"]
	path = Frameworks/IRInterfaceKit
	url = git://github.com/iridia/IRInterfaceKit.git
